<!--
  This template loads for the 'home' state (main.js) mostly used for making order/booking

-->

<ion-view view-title="TripShip" ng-init="init()">
  <ion-content scroll="false">
    <!-- Show map here we will want the google api to track where the user is and load the map-->
    <div id="map" ng-style="{height: mapHeight + 'px'}"></div>

    <div class="modal-bg black-transparent" ng-show="showModalBg"></div>

 <!--Will need to be a text-field, for user to enter address. -->
    <div class="map-overlay list">
      <div class="item">
        <span class="label gray">PICK-UP</span>
        <input type="text" placeholder="Pick-Up Address">
        </input>
      </div>
      <div class="item" ui-sref="main.places">
        <span class="label gray">DROP-OFF</span>
        <input type="text" placeholder="Delivery Address">
      </div>
    </div>

    <!-- Booking information -->
    <div class="booking-info">
      <div class="button-circle button-next balanced-bg light" ng-hide="showForm" ng-click="toggleForm()">NEXT</div>

      <!-- Package size might work better then chooseing vehicle -->
      <div class="padding" ng-class="{'stable-bg': !showForm, 'light': showForm}">Your Package Size</div>


      <div class="vehicles row text-center balanced-bg" ng-hide="showForm" >

        <div class="col item-vehicle" ng-repeat="vehicle in vehicles" ng-class="{'active': vehicle.active}" ng-click="toggleVehicle($index)">
          <i class="{{ vehicle.icon }}"></i>
          <span>{{ vehicle.name }}</span>
        </div>
      </div>

      <div class="booking-form list padding-left padding-right stable-bg" ng-show="showForm">

        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-card"></i>
          <div ui-sref="payment_method">
            <div>Payment</div>

            <span class="bold">VISA</span>
          </div>
          <i class="icon ion-arrow-right-b gray"></i>
        </div>

        <div class="item row">
          <div class="col button button-light">
            Pick-up Now
          </div>
          <div class="col button">
            Pick-up Later
          </div>
        </div>

        <div class="item item-icon-left" ng-click="showNotePopup()">
          <i class="icon ion-ios-compose-outline"></i>
          <span class="italic dark" ng-hide="note">Notes to driver</span>
          <span class="dark" ng-show="note">{{ note }}</span>
        </div>

        <div class="item item-icon-left" ng-click="showPromoPopup()">
          <i class="icon ion-pricetag"></i>
          <span class="italic dark" ng-hide="promo">Promo Code</span>
          <span class="dark"  ng-show="promo">{{ promo }}</span>
        </div>

        <div class="button button-balanced button-block" ng-click="book()">BOOK</div>
        <div class="button button-balanced button-block" ng-click="takePic()">Camera</div>

      </div>
    </div>
  </ion-content>
</ion-view>
